<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%level]: %msg%n" />
        </Console>
        <RollingFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%d{HH:mm:ss}] [%level]: %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="File" level="info" />
            <AppenderRef ref="CONSOLE" level="info"/>
        </Root>
    </Loggers>
</Configuration>

